<div class="container">
    <mat-toolbar>
        <span>
            Historial Clínico
        </span>
    </mat-toolbar>

    <div class="parent">
        <div class="div1">
            <h3 class="titulo">Datos</h3>
            <div class="input-wrapper">
                <h3>Nombre:</h3>
                <input type="text" class="minimal-input">
            </div>
            <div class="input-wrapper">
                <h3>Nombre:</h3>
                <input type="text" class="minimal-input">
            </div>
        </div>
        <div class="div2">
            <h3 class="titulo">Antecedentes patológicos</h3>
        </div>
        <div class="div3">
            <h3 class="titulo">Última cita agendada</h3>
        </div>
    </div>
</div>