.minimal-input {
    border: none;
    outline: none;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    width: 50%;
}

h3 {
    padding-top: 5px;
    margin-right: 5px;
    margin-left: 8px;
    font-weight: bolder;
    font-size: 16px;
    display: inline-block;
    font-family: Arial, sans-serif;
    
}

.parent {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
}

.div1 {
    grid-area: 1 / 1 / 6 / 2;
}

.div2 {
    grid-area: 1 / 2 / 6 / 5;
}

.div3 {
    grid-area: 1 / 5 / 6 / 6;
}


.div1 {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #efe9e9;
}

.div2 {

    display: flex;
    flex-direction: column;
    border: 1px solid #efe9e9;
}

.div3 {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #efe9e9;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.titulo {
    text-align: center;

}