<div class="container">


    <div class="parent">
        <div class="div1">
            <h3 class="titulo">Datos</h3>
            <div class="input-wrapper">
                <h4>Nombre:</h4>
                <input type="text" class="minimal-input">
            </div>
            <div class="input-wrapper">
                <h4>Apellido:</h4>
                <input type="text" class="minimal-input">
            </div>
            <div class="input-wrapper">
                <h4>Edad:</h4>
                <input type="text" class="minimal-input">
            </div>
            

        </div>
        <div class="div2">
            <h3 class="titulo">Antecedentes patológicos</h3>
   
    
            <div class="input-wrapper">
                <h4>Nombre:</h4>
                <input type="text" class="minimal-input">
            </div>
            <div class="input-wrapper">
                <h4>Apellido:</h4>
                <input type="text" class="minimal-input">
            </div>
            <div class="input-wrapper">
                <h4>Edad:</h4>
                <input type="text" class="minimal-input">
            </div>
            <div class="input-wrapper">
                <h4>Nombre:</h4>
                <input type="text" class="minimal-input">
            </div>
            <div class="input-wrapper">
                <h4>Apellido:</h4>
                <input type="text" class="minimal-input">
            </div>
            <div class="input-wrapper">
                <h4>Edad:</h4>
                <input type="text" class="minimal-input">
            </div>
        </div>
        <div class="div3">
            <h3 class="titulo">Última cita agendada</h3>
            <div class="input-wrapper">
                <h4>Nombre:</h4>
                <input type="text" class="minimal-input">
            </div>
            <div class="input-wrapper">
                <h4>Apellido:</h4>
                <input type="text" class="minimal-input">
            </div>
        </div>
        <div class="div4">
            <h3 class="titulo">Última cita age</h3>
            <div class="input-wrapper">
                <h4>Nombre:</h4>
                <input type="text" class="minimal-input">
            </div>
         
            
        </div>
    </div>
</div>